<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">게시물 등록</h1>

    <form th:action="@{/board/register}" th:method="post">
      <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control"
               name="title" id="title" placeholder="제목 입력" />
      </div>
      <div class="form-group">
        <label>내용</label>
        <textarea class="form-control" rows="5"
               name="content" id="content" placeholder="내용 입력" ></textarea>
      </div>
      <div class="form-group">
        <label>작성자 이메일</label>
        <input type="email" class="form-control"
               name="writerEmail" id="writerEmail" placeholder="작성자 이메일" />
      </div>
      <button type="submit" class="btn btn-primary">등록</button>
    </form>
  </th:block>
</th:block>